# PrivateKey
SEPOLIA_PRIVATE_KEY=""
HOODI_PRIVATE_KEY=""
TBSC_PRIVATE_KEY=""

# RPC_URL
SEPOLIA_RPC_URL=""
HOODI_RPC_URL=""
BSC_RPC_URL="https://bsc-rpc.publicnode.com"
TBSC_RPC_URL="https://bsc-testnet-rpc.publicnode.com"

# API_KEY
ETHERSCAN_API_KEY=""